.navbar  {
    display: flex; 
    flex-direction: row;
    background-color: orange;
    justify-content: space-evenly;
}
.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: rgb(250, 215, 160);
}
.content h1+ p {
	width: 100%;
	text-align: center;
}
.content h1 {
	text-align: center;
	width: 100%;
}
.news {
	display: flex;
	flex-direction: column;
	width: 33%;
}
